.title {
    opacity: 0;
    transform: translateY(-25px);
    animation-name: slide;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0.45s;
    animation-duration: 0.65s;
}


.square {
    animation-name: cardEntrance;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-duration: 0.25s;
}

.keyboard-row button {
    opacity: 0;
    animation-name: cardEntrance;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1.15s;
    animation-duration: 0.5s;
}


.correctBox {
    background-color: #538d4e;
    border: 1px solid rgb(58, 58, 60);
}

.semiCorrectBox {
    background-color: #b59f3b;
    border: 1px solid rgb(58, 58, 60);
}

.wrongBox {
    background-color: #3a3a3c;
    border: 1px solid rgb(58, 58, 60);
}

@keyframes slide {
    from {
        opacity: 0; }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(75deg);
    } to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg)
    }
}